name: CI

on:
  push:
    branches: [ master, develop, feature/**, chore/**, bugfix/**, hotfix/** ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 14.x, 16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: |
          ${{ matrix.dir }}/package.json
          ${{ matrix.dir }}/package-lock.json
    - run: npm ci
    - run: npm test
    - uses: codecov/codecov-action@v2
      with:
        directory: ./coverage
        flags: unittests # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)

